.App {
  text-align: center;
}
.card-container{
  margin: 10px 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  height: 100px;
  gap: 10px;
  width:max-content ;
  font-family: monospace;
  font-size: 25px;
}
.button{
  width: max-content;
  height:20px;
}